static/images/Emergent[[:space:]]Outlier[[:space:]]View[[:space:]]Rejection[[:space:]]in[[:space:]]Visual[[:space:]]Geometry[[:space:]]Grounded[[:space:]]Transformers.pdf filter=lfs diff=lfs merge=lfs -text
